.cry-btn{
    margin-left: .2rem;
    margin-right: .2rem; 
    width: 7rem;
    padding:5px 15px; 
    background: #00DDFF; 
    border-radius:10px;
    border: 2px solid #00DDFF;
    cursor:pointer;
    color:#fffffe;
   
 }
 .friend-li{
    color:black;
 }
 .friend-li:hover{
    color: green;
 }